.button {
  @include remify(font-size, 16);
  border-style: none;
  height: 40px;
  color: $buttonFontC;
  background-color: $buttonBkgC;
  padding: 5px 24px;
  font-weight: bold;

  & > i {
    @include remify(font-size, 11);
    margin: 0 5px;
  }

  &:hover {
    background-color: $accentC;
  }
}