article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  margin: 0;
  padding: 0; }

body {
  font-family: 'QuboLig', sans-serif;
  background-color: #EEEEEE;
  color: #1C1D33;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1440px;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: space-evenly;
  -ms-flex-align: space-evenly;
  align-items: space-evenly; }
  @media (max-width: 1100px) {
    .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; } }

.subheader {
  background-color: #FFFFFF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 76px;
  padding: 20px;
  border-bottom: 1px solid #BFC0CA; }
  .subheader__title {
    font-size: 27px;
    font-size: 1.6875rem; }
    @media (max-width: 355px) {
      .subheader__title {
        font-size: 24px;
        font-size: 1.5rem; } }
  .subheader__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 970px) {
      .subheader__menu--lg {
        display: none; } }
    .subheader__menu--sm {
      display: none; }
      .subheader__menu--sm > .subheader__button {
        width: 127px; }
      @media (max-width: 970px) {
        .subheader__menu--sm {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
  .subheader__button {
    margin: 0 0.2px; }
    .subheader__button:first-of-type {
      border-radius: 2.5px 0 0 2.5px; }
    .subheader__button:last-of-type {
      border-radius: 0 2.5px 2.5px 0; }

.sidebar {
  background-color: #FAFAFA;
  width: 250px;
  padding: 32px 20px; }
  @media (max-width: 1100px) {
    .sidebar {
      border: 1px solid #00B6DE;
      border-radius: 2.5px;
      width: inherit;
      padding: 0;
      margin: 12px 16px;
      background-color: #FFFFFF;
      height: 45px;
      padding: 10px; } }
  .sidebar__title {
    font-size: 16px;
    font-size: 1rem;
    color: #494A5C;
    margin-bottom: 18px;
    border-bottom: 2px solid #00B6DE;
    padding-bottom: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .sidebar__title > i {
      display: none; }
    @media (max-width: 1100px) {
      .sidebar__title {
        border-bottom: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .sidebar__title > i {
          display: inline-block; } }
  .sidebar__list {
    font-size: 16px;
    font-size: 1rem;
    color: #323347; }
    @media (max-width: 1100px) {
      .sidebar__list {
        display: none; } }

.card {
  background-color: #FFFFFF;
  width: 830px;
  height: 669px;
  margin: 30px auto; }
  @media (max-width: 1100px) {
    .card {
      width: 100%;
      margin: 0;
      padding: 15px; } }
  .card__title {
    font-size: 24px;
    font-size: 1.5rem;
    color: #1C1D33;
    border-bottom: solid 1px #EEEEEE;
    padding: 20px 24px; }
    @media (max-width: 1100px) {
      .card__title {
        padding: 0; } }

.flyout {
  border: 1px solid #545CA5;
  border-radius: 2.5px;
  background-color: #545CA5;
  display: block;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 10; }
  .flyout:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #545CA5 transparent;
    top: -20.5px;
    left: 124px; }
  .flyout--hidden {
    display: none; }
  .flyout__button {
    text-align: left;
    width: 100%; }

.form {
  width: 100%;
  height: 100%;
  padding: 14px 0; }
  .form__group {
    max-width: 500px;
    min-height: 63px;
    margin: 14px auto; }
  .form__text, .form__textarea, .form__select, .form__date {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
    line-height: 1.5rem;
    border: 1px solid #808295;
    border-radius: 2.5px; }
  .form__title {
    display: block;
    margin: 8px 0; }
  .form__textarea {
    height: 148px;
    resize: none; }
  .form__select {
    color: #494A5C; }
  .form__date {
    max-width: 150px; }
    .form__date::-webkit-input-placeholder {
      color: #494A5C;
      opacity: 1; }
    .form__date:-ms-input-placeholder {
      color: #494A5C;
      opacity: 1; }
    .form__date::-ms-input-placeholder {
      color: #494A5C;
      opacity: 1; }
    .form__date::placeholder {
      color: #494A5C;
      opacity: 1; }
  .form .calendar {
    font-size: 23px;
    font-size: 1.4375rem;
    border: 1px solid #808295;
    border-radius: 2.5px;
    display: block;
    color: #545CA5;
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
    padding: 5px 8.5px;
    position: relative;
    bottom: 40px;
    left: 110px; }

.button {
  font-size: 16px;
  font-size: 1rem;
  border-style: none;
  height: 40px;
  color: #FFFFFF;
  background-color: #545CA5;
  padding: 5px 24px;
  font-weight: bold; }
  .button > i {
    font-size: 11px;
    font-size: 0.6875rem;
    margin: 0 5px; }
  .button:hover {
    background-color: #00B6DE; }
